main#content{
  position: relative;
}

#ghost{
  position: absolute;
    left: 2%;
    top: 25%;
  
  .cyrce-box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: $lightBlack;
    color: $linkColor;
    box-shadow: 0 0 5px 2px $lightBlack;
    @include easeIn-3s;
    
    &:hover{
      @include easeOut-3s;
      
      &:before{
        content: '';
        position: absolute;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 4px;
        z-index: 6;
        background: $inputColor;
        color: $white;
        border-radius: 50%;
      }
    }
  }
  
  
  
  
}//end #ghost