#header{
  padding: 5px 0 10px;
  background-color: $lightBlack;
  height: auto;
  position: relative;
  z-index: 4;
  box-shadow: 0 0 5px 2px $inputColor;
  color: $darkWhite;
  
  .header-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    
    ul.list-link li{
      display: inline-block;
      margin: 0 5px 0 5px;
      position: relative;
      
      a{
        color: $linkColor;
        @include easeIn-2s;
        &:hover{
          @include easeOut-2s;
          color: $darkWhite;
        }
      }
    }
    
    .search-block{
      position: relative;
      
      button.btn-close{
        display: none;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 15px;
        position: absolute;
          top: 0;
          left: 0;
        width: 32px;
        height: 32px;
        color: $white;
        background: transparent;
      }
      
      form#form{
        position: relative;
        
        
        &:hover #btn-search{
          visibility: visible;
          right: 0;
          @include visible-right;//анимация
          @include btn-default;
        }
        
        input#search{
          width: 180px;
          padding: 0 0 0 16px;
          height: 32px;
          font-family: 'Exo2-Medium', sans-serif;
          font-size: 16px;
          border-radius: 15px;
          border: none;
          background: $inputColor;
          color: $white;
          
          &.active{
            width: 550px;
            padding: 0 0 0 32px;
            @include easeIn-2s;
          }
          &.close{
            width: 180px;
            @include easeOut-2s;
          }
        }
        
        button#btn-search{
          width: 32px;
          height: 100%;
          visibility: hidden;
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
          position: absolute;
            top: 0;
          border: none;
          background: $goButton;
        }
        
      }
    }//search-block
  
  } //header-content


}