* {
  padding: 0;
  margin: 0;
}

a,
p,
li,
ul,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a,
button,
input {
  outline: none;
}

span {
  display: inline-block;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

@font-face {
  font-family: "Exo2-Regular";
  font-weight: 400;
  src: url("../../fonts/Exo2-Regular.ttf");
}

@font-face {
  font-family: "Exo2-Medium";
  font-weight: 500;
  src: url("../../fonts/Exo2-Medium.ttf");
}

@font-face {
  font-family: "Exo2-Black";
  font-weight: 900;
  src: url("../../fonts/Exo2-Black.ttf");
}

html,
body {
  font-family: 'Exo2-Regular', sans-serif;
  font-size: 14px;
}

@-webkit-keyframes visible-right {
  0% {
    right: -30px;
    opacity: 0;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  100% {
    right: 0;
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes visible-right {
  0% {
    right: -30px;
    opacity: 0;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  100% {
    right: 0;
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes hide-right {
  0% {
    right: 0;
    opacity: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  100% {
    right: -30px;
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes hide-right {
  0% {
    right: 0;
    opacity: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  100% {
    right: -30px;
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.container {
  width: 1170px;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.container-small {
  width: 1024px;
}

.container-mini {
  width: 860px;
}

ul.inline li {
  display: inline-block;
  margin: 0 6px;
}

.box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  background: #0e0d0d;
  -webkit-box-shadow: 0 0 5px 2px #2c2c2c;
          box-shadow: 0 0 5px 2px #2c2c2c;
  color: #6e9294;
}

.box .box-content {
  padding: 12px 0 20px 0;
}

.box .box-content .box-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 0 20px;
}

.box .box-content .box-body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px 0 20px;
}

.box .box-content .box-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.btn, .btn-black, .btn-white, .btn-sald, .btn-darkSald {
  border: none;
  max-width: 125px;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:hover, .btn-black:hover, .btn-white:hover, .btn-sald:hover, .btn-darkSald:hover {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 9px 6px -4px #2c2c2c;
          box-shadow: 0 9px 6px -4px #2c2c2c;
}

.btn-black {
  background: #2c2c2c;
}

.btn-white {
  background: #fff;
}

.btn-sald {
  background: #6e9294;
}

.btn-darkSald {
  background: #456d6f;
}

body {
  background: #000;
}

.btn, .btn-black, .btn-white, .btn-sald, .btn-darkSald {
  margin-bottom: 12px;
}
