// Анимации

// Ease
@mixin ease-1s{
  transition: $ease-1s;
}
@mixin ease-2s{
  transition: $ease-2s;
}
@mixin ease-3s{
  transition: $ease-3s;
}


// EaseIn
@mixin easeIn-1s{
  transition: $easeIn-1s;
}
@mixin easeIn-2s{
  transition: $easeIn-2s;
}
@mixin easeIn-3s{
  transition: $easeIn-3s;
}

// EaseOut
@mixin easeOut-1s{
  transition: $easeOut-1s;
}
@mixin easeOut-2s{
  transition: $easeOut-2s;
}
@mixin easeOut-3s{
  transition: $easeOut-3s;
}

// EaseInOut
@mixin easeInOut-1s{
  transition: $easeInOut-1s;
}
@mixin easeInOut-2s{
  transition: $easeInOut-2s;
}
@mixin easeInOut-3s{
  transition: $easeInOut-3s;
}

//Keyframes

@mixin visible-right{
  animation: visible-right 0.3s;
}
@mixin hide-right{
  animation: hide-right 0.3s;
}
