//Цвета в переменных

$white: #fff;
$black: #000;
$lightBlack: #2c2c2c;
$darkWhite: #a7a7a7;
$darkGrey-color: #5e5d5d;
$linkColor: #6e9294;

$inputColor: #0e0d0d;
$goButton: #a2a2a2;
$sectiongrey: #3c3b3b;