// primary background color's

$facebook: #5e91ff;
$tg: #36aee2;
$vk: #5181b8;

// controls
$main-arrow-bg: #c7cdd9;

//btn
$main-rgba: rgba(253, 58, 58, 0.71);

$main-shadow-hover: rgba(45, 45, 45, 0.05) 0 2px 2px,
										rgba(49, 49, 49, 0.05) 0 4px 4px,
										rgba(42, 42, 42, 0.05) 0 8px 8px,
										rgba(32, 32, 32, 0.05) 0 16px 16px,
										rgba(49, 49, 49, 0.05) 0 32px 32px,
										rgba(35, 35, 35, 0.05) 0 64px 64px;