.btn{
  border: none;
  max-width: 125px;
    width: 100%;
  height: 32px;
  padding: 4px 8px;
  border-radius: 12px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  @include easeOut-2s;
    &:hover{
      @include ease-2s;
      box-shadow: 0 9px 6px -4px $lightBlack;
    }
}

.btn-black{
  @extend .btn;
  background: $lightBlack;
}

.btn-white{
  @extend .btn;
  background: $white;
}

.btn-sald{
  @extend .btn;
  background: $linkColor;
}

.btn-darkSald{
  @extend .btn;
  background: $outputColor;
}