// Библиотека полезных функций:

// переводим пиксели в ремы вызываем так: rem(18px);
@function rem($px) {
	@return ($px / 16) +rem;
}

@function em($px) {
	@return ($px / 16) +em;
}

.container {
  @include container();
  @include sm(max-width, rem(510));
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
  @include xl(max-width, rem(1110));
}