<<<<<<< HEAD
// подключение шрифтов
@font-face{
  font-family: "Exo 2', sans-serif";
  font-weight: normal;
  src: url("../fonts/Exo2-Regular.ttf");
  
=======
>>>>>>> b4c78f3cc5f4ed1066f3a1a72e2729203427d3ba
/*@font-face{
  font-family: "";
  font-weight: ;
  src: url("../../fonts/");
}*/

@mixin font($size, $weight) {
	font:{
		size: $size;
		weight: $weight;
	}
}
