@font-face{
  font-family: "Museo-Sans Cyrilic";
  font-weight: 300;
  src: url("../fonts/MuseoSansCyrl-300.woff");
}
@font-face{
  font-family: "Museo-Sans Cyrilic";
  font-weight: 500;
  src: url("../fonts/MuseoSansCyrl-500.woff");
}
@font-face{
  font-family: "Museo-Sans Cyrilic";
  font-weight: 900;
  src: url("../fonts/MuseoSansCyrl-900.woff");
}

